.effect-text {
    font-size: 36px;
    text-align: center;
    color: var(--effect-white-text);
    will-change: font-size;
}

.effect-text .inline-icon {
    min-height: 1.2em; 
    min-width: 1.2em;
    padding-left: 1.2em;
    display:inline-block; 
    background-repeat: no-repeat; 
    background-size: 1.2em 1.2em;
    background-position: left 0 top 0;
    vertical-align: middle;
    /* transform: translate(0,-0.125em) scale(1.25); */
}

.effect-text .blue-word {
    color: var(--effect-blue-text);
}
.effect-text .orange-word {
    color: var(--effect-orange-text);
}