.effect-text {
    font-size: 36px;
    text-align: center;
    color: var(--effect-white-text);
    will-change: font-size;
}

.effect-text .inline-icon {
    /* min-height: 1.2em; 
    min-width: 1.2em; */
    padding-left: 1.2em;
    display: inline; 
    /* transform: translate(0,-0.125em) scale(1.25); */

    position: relative;
}
.effect-text .inline-icon > .icon-renderer {
    display: inline-block;
    content: " ";    

    background-repeat: no-repeat; 
    background-image: var(--icon-image);
    background-size: 1.2em 1.2em;
    width: 1.2em;
    height: 1.2em;

    position: absolute;
    top: -0.22em;
    left: 0;
    transform: scale(1.23);
}

.effect-text .blue-word {
    color: var(--effect-blue-text);
}
.effect-text .orange-word {
    color: var(--effect-orange-text);
}