.effect-text {
    font-size: inherit;
    text-align: center;
    color: var(--effect-white-text);
    will-change: font-size;
}

.effect-text .inline-icon {
    min-height: 1.2em; 
    min-width: 1em;
    padding-left: 1em;
    display: inline; 
    /* transform: translate(0,-0.125em) scale(1.25); */
    /* position: relative; */
    background-image: var(--icon-image);
    background-size: 1.2em 1.2em;
    background-repeat: no-repeat;
    background-position: top -0.22em left -0.15em;;
}

.effect-text .inline-icon.custom {
    background-size: 0.9em 0.9em;
    background-position: top -0.05em left 0;
}

.effect-text .blue-word {
    color: var(--effect-blue-text);
    --text-outline: var(--effect-blue-text);
}
.effect-text .orange-word {
    color: var(--effect-orange-text);
    --text-outline: var(--effect-orange-text);
}
.effect-text.level-color {
    color: #d6946b;
}

.card-effects-wrapper .level-bar {
    width: 680px;
    height: 44px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}