.keyword-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.keyword-wrapper * {
    display: inline-block;
}

.keyword-wrapper .left-bumper, .keyword-wrapper .right-bumper {
    width: 26.6px;
    height: 98.8px;
}

.keyword-wrapper .left-bumper {
    /* background-image: url(/Assets/keyword/keywordleft.png); */
    background-size: 100% 100%;
}

.keyword-wrapper .right-bumper {
    /* background-image: url(/Assets/keyword/keywordright.png); */
    background-size: 100% 100%;
}

.keyword-wrapper .contents {
    min-width: 192.85px;
    height: 98.8px;
    /* background-image: url(/Assets/keyword/keywordmiddle.png); */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-size: 100% 100%;
}
.keyword-wrapper .contents.small {
    min-width: 64px;
}

.keyword-wrapper .contents .keyword-icon {
    width: 57px;
    height: 57px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.keyword-wrapper .contents .keyword-icon.custom {
    background-size: 75% 75%;
}

.keyword-wrapper .contents .keyword-text {
    text-transform: uppercase;
    font-size: 48px;
    color: var(--effect-orange-text);
    transform: translateY(-2px);
}