.poc-icon-sticker {
    position: relative;
}
.poc-icon-sticker::after {
    position: relative;
    width: 100%;
    content: " ";
    display: block;
    padding-bottom: 100%;
}

.poc-icon-sticker .art {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.poc-icon-sticker.relic .art {
    clip-path: polygon(
        50% 5%,
        88.5% 28%,
        88.5% 72%,
        50% 95%,
        11.5% 72%,
        11.5% 28%
    );
}
.poc-icon-sticker.item .art {
    clip-path: polygon(
        50% 5%,
        88.5% 28%,
        88.5% 72%,
        50% 95%,
        11.5% 72%,
        11.5% 28%
    );
}
.poc-icon-sticker.power .art {
    clip-path: polygon(
        9.765625% 26.953125%, 
        21.484375% 21.484375%, 
        26.953125% 9.765625%, 

        73.046875% 9.765625%, 
        78.515625% 21.484375%, 
        90.234375% 26.953125%, 
        
        90.234375% 73.046875%, 
        78.515625% 78.515625%,
        73.046875% 90.234375%,  

        26.953125% 90.234375%,
        21.484375% 78.515625%, 
        9.765625% 73.046875%
    );
}

.poc-icon-sticker .art .scale-adjuster {
    position: absolute;
    top: calc(50% - calc(50% * calc( 1/ var(--scale))));
    bottom: calc(50% - calc(50% * calc( 1/ var(--scale))));
    left: calc(50% - calc(50% * calc( 1/ var(--scale))));
    right: calc(50% - calc(50% * calc( 1/ var(--scale))));
    transform: scale(var(--scale));
    will-change: transform, top, bottom, left, right;
}

.poc-icon-sticker .frame-overlay,
.poc-icon-sticker .frame-overlay-cover,
.poc-icon-sticker .frame-rarity,
.poc-icon-sticker .frame-rarity-gem {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.poc-icon-sticker .frame-rarity-gem {
    background-size: 25% 25%;
    background-position-x: 50%;
    background-position-y: 100%;
}

.poc-icon-sticker.relic .frame-rarity-gem {
    background-position-y: 96%;
}
.poc-icon-sticker.special.relic .frame-rarity-gem {
    background-position-y: 96%;
}
.poc-icon-sticker.item .frame-rarity-gem {
    background-position-y: 102%;
}
.poc-icon-sticker.special.item .frame-rarity-gem {
    background-position-y: 100%;
}