.spell {
    position: relative;
    width: 100%;
    height: 100%;
}

.spell > * {
    position: absolute;
}
.spell .frame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.spell .text-background {
    width: 634px;
    height: 470px;
    top: 463px;
    left: 23px;
    clip-path: polygon(
        0 30px,
        60px 0,
        calc(25%) 0,
        calc(25% + 60px) 40px,
        50% 60px,
        calc(75% - 60px) 40px,
        calc(75%) 0,
        calc(100% - 60px) 0,
        100% 30px,
        100% 470px,
        0 470px
    );
}
.spell .text-background .text-background-image {
    mix-blend-mode: multiply;
    width: 634px;
    height: 470px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.spell .art {
    left: 100px;
    top: 54px;
    width: 480px;
    height: 480px;
    border-radius: 240px;
    overflow: hidden;
}

.spell .art .scale-adjuster {
    position: absolute;
    top: calc(50% - calc(50% * calc( 1/ var(--scale))));
    bottom: calc(50% - calc(50% * calc( 1/ var(--scale))));
    left: calc(50% - calc(50% * calc( 1/ var(--scale))));
    right: calc(50% - calc(50% * calc( 1/ var(--scale))));
    transform: scale(var(--scale));
    will-change: transform, top, bottom, left, right;
}

.spell .cost {
    color: var(--effect-white-text);
    width: 120px;
    height: 120px;
    left: 31px;
    top: 44px;
    font-size: 90px;
    will-change: font-size;
    text-align: center;
    vertical-align: middle;
}

.spell .region-frame {
    width: 220px;
    height: 280px;
    left: 424px;
    top: 36px;
}

.spell.burst .region-frame, .spell.focus .region-frame {
    left: 422px;
    top: 45px;
}
.spell.equipment .region-frame, .spell.slow .region-frame {
    left: 424px;
    top: 43px;
}

.spell .region-frame .region-icon {
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    position: absolute;
}

.spell .region-frame .region-icon-0 {
    top: 30px;
    left: 45px;
}

.spell .region-frame .region-icon-1 {
    top: 85px;
    left: 93px;
}

.spell .region-frame .region-icon-2 {
    top: 158px;
    left: 118px;
}

.spell .clan {
    width: 268px;
    min-height: 69px;
    left: 206px;
    bottom: 45px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-size: 100% 100%;
}

.spell .clan .text-area {
    text-transform: uppercase;
    color: #bbb;
    font-size: 40px;
    will-change: font-size;
    width: 214px;
    text-align: center;
    transform: translateY(4px);
}

.spell .rarity {
    width: 250px;
    height: 90px;
    left: 215px;
    bottom: 11px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.spell .rarity.champion {
    bottom: 19px;
}
.spell.slow .rarity, .spell.equipment .rarity {
    bottom: 5px;
}
.spell.slow .rarity.champion, .spell.equipment .rarity.champion {
    bottom: 13px;
}

.spell .rarity.with-clan {
    bottom: -14px;
}

.spell .champion.rarity.with-clan {
    bottom: -8px;
}

.spell .power, .spell .health {
    width: 115px;
    height: 92px;
    top: 429px;
    font-size: 70px;
    will-change: font-size;
    color: var(--effect-white-text);
    text-align: center;
}

.spell .power {
    left: 44px;
}

.spell .health {
    left: 518px;
}

.spell .card-text-wrapper {
    top: 585px;
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 328px;
}

.spell .card-text-wrapper .name {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
    font-size: 55px;
    will-change: font-size;
    color: var(--effect-white-text);
    text-align: center;
    text-transform: uppercase;
}

.spell .card-text-wrapper .keyword-container {
    text-align: center;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25em;
    margin-bottom: -0.5em;
}

.spell .card-text-wrapper .effect-container {
    width: 560px;
    margin-left: auto;
    margin-right: auto;
}
