.loading-shade {
    display: none;
}

html .loading-shade {
    /* make sure the loading shade only shows when being rendered in the page instead of in the export process */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(10px);
    /* background-color: rgba(var(--rgb-light), 0.3); */
    color: var(--color-dark);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    border-radius: 0.5em;
}

.fix-safari > * {
	transform: scale(var(--safari-scale-fix));
	transform-origin: top left;
}
