.unit {
    position: relative;
    width: 100%;
    height: 100%;
}

.unit > * {
    position: absolute;
}

.unit .art,  .unit .frame {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.unit .art.blur {
    filter: blur(var(--blur, 15px)) brightness( calc( 1.0 - var(--darkness, 0.25) ) );
    -webkit-mask-image: linear-gradient(to bottom, transparent var(--transparent-percent, 50%), black var(--solid-percent, 75%));
    mask-image: linear-gradient(to bottom, transparent var(--transparent-percent, 50%), black var(--solid-percent, 75%));

    will-change: filter, -webkit-mask-image, mask-image;
}

.debug {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: green;
}

.unit .cost {
    color: var(--effect-white-text);
    width: 120px;
    height: 120px;
    left: 31px;
    top: 44px;
    font-size: 90px;
    will-change: font-size;
    text-align: center;
}

.unit .region-frame {
    width: 120px;
    height: 360px;
    left: 550px;
    top: 37px;
    padding-top: 34px;
}

.unit.follower .region-frame {
    left: 557px;
    top: 37px;
}

.unit .region-icon {
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background-size: contain;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

.unit .clan {
    width: 360px;
    height: 84px;
    left: 160px;
    top: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unit.landmark .clan {
    top: 22px;
}

.unit .clan .text-area {
    text-transform: uppercase;
    color: #bbb;
    font-size: 40px;
    will-change: font-size;
    width: 214px;
    text-align: center;
    transform: translateY(4px);
}

.unit .power, .unit .health {
    width: 86px;
    height: 76px;
    top: 866px;
    font-size: 70px;
    will-change: font-size;
    color: var(--effect-white-text);
    text-align: center;
}

.unit .power {
    left: 44px;
}

.unit .health {
    left: 552px;
}

.unit .card-text-wrapper {
    bottom: 176px;
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 460px;
}

.unit .card-text-wrapper .name {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    max-height: 70px;
    font-size: 55px;
    will-change: font-size;
    color: var(--effect-white-text);
    text-align: center;
    text-transform: uppercase;
}
.unit .card-text-wrapper .keyword-container {
    text-align: center;
    width: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.25em;
    margin-bottom: -0.5em;
}

.unit .card-text-wrapper .effect-container {
    width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.unit .rarity {
    width: 250px;
    height: 90px;
    left: 215px;
    top: 942px;
}

.unit .rarity.champion {
    top: 934px;
}

.unit.landmark .rarity {
    top: 899px;
}

.unit.landmark .rarity.champion {
    top: 891px;
}

.unit.champion .rarity {
    top: 942px;
}

.unit.champion .rarity.champion {
    top: 934px;
}
