.card-shorthand {
    background-image: var(--mana-ball-type), url(/Assets/deck/background.png);
    background-position-x: 0, 37.5%;
    background-position-y: center, center;
    background-size: auto 140%, 115% 140%;
    background-repeat: no-repeat, no-repeat;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #FFF;
}

.card-shorthand .mana-cost {
    margin-left: .75em;
    margin-right: 0.25em;
    width: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-shorthand .shorthand-text {
    margin-left: 0.5em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 1em;
}