.in-deck-rito-card {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.in-deck-card-stack {
    padding-right: 100px;
    padding-top: 100px;
}

.in-deck-card-stack-sizer {
    position: relative;
    width: 100%;
    padding-top: calc(calc(1024 / 680) * 100%);
}

.shadow-card, .real-card  {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.shadow-card .loading-shade {
    color: var(--color-clear);
}

.in-deck-card-stack-sizer .stickers {
    position: absolute;
    bottom: 160px;
    right: -40px;
    width: 120px;
    height: 540px;
}

.in-deck-card-stack-sizer .stickers.spell {
    bottom: 120px;
    height: 280px;
}