.deck-frame {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.deck-name {
    position: absolute;
    top: 24px;
    width: 100%;
    max-height: 48px;
    font-size: 24px;
    text-align: center;
    padding-left: 16px;
    padding-right: 16px;
}