.in-deck-rito-card {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.in-deck-card-stack {
    padding-left: 100px;
    padding-top: 100px;
}

.in-deck-card-stack-sizer {
    position: relative;
    width: 100%;
}

.real-card {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}
.shadow-card {
    z-index: 0;
    width: 100%;
    position: absolute;
}

.shadow-card .loading-shade {
    color: var(--color-clear);
}