.filter-slider {
    position: sticky;
    font-size: 1.25rem;
    top: var(--banner-height);
    background-color: rgba(var(--rgb-bg), 80%);
    padding-top: calc(var(--flex-box-gutter) * 3);
    z-index: 1;
}

.filter-slider .options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: auto;
    max-height: 0;
    transition: max-height 0.5s;
    transition-timing-function: ease-out;
    background-color: rgba(var(--rgb-bg), 80%);
}

.filter-slider.expanded .options {
    max-height: calc( calc(100vh - var(--banner-height)) - var(--flex-box-gutter));
    transition-timing-function: ease-in;
}

.filter-checkbox .ghost {
    color: var(--color-dark);
}
.filter-checkbox .checked {
    color: var(--color-primary);
}