#bulk-delete .confirm-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgb-light), 0.0);
    transition: background-color 0.5s;
    will-change: background-color;
}
#bulk-delete .confirm-overlay.active {
    background-color: rgba(var(--rgb-light), 0.4);
}
#bulk-delete .delete-icon {
    font-size: 6em;
    color: var(--color-primary);
}