#batch-exporter {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#batch-exporter .no-export-selected {
    font-size: 1.5em;
    color: var(--color-dark);
    text-align: center;
}
#batch-exporter .export-button {
    font-size: 1.5em;
}

#batch-exporter .export-preview {
    will-change: padding-bottom;
    transition: padding-bottom 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}
.low-spec-mode #batch-exporter .export-preview {
    transition: none;
}
#batch-exporter .preview-content {
    position: fixed;
    overflow-y: auto;
    will-change: width;
}
#batch-exporter .export-selection {
    z-index: 1;
    position: relative;

    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 2em);
    mask-image: linear-gradient(to bottom, transparent 0, black 2em);
}
#batch-exporter .export-selection::before {
    position: absolute;
    display: block;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-bg);
    opacity: 0.6;
    z-index: -1;
}