#card-editor {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#card-editor .card-preview {
    will-change: padding-bottom;
    transition: padding-bottom 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.5s;
}
.low-spec-mode #card-editor .card-preview {
    transition: none;
}
#card-editor .preview-content {
    position: fixed;
    overflow-y: auto;
    will-change: width;
}

#card-editor .preview-content svg {
    max-width: 100%;
    max-height: calc(90vh - var(--banner-height) - 4em);
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: UniversforRiotGamesRegular;
}

#card-editor .card-configs {
    z-index: 1;
    position: relative;
}

#card-editor .card-configs::before {
    display: block;
    content: " ";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;

    background-color: rgba(var(--rgb-bg), 80%);
    -webkit-mask-image: linear-gradient(to bottom, transparent 0, black 2em);
    mask-image: linear-gradient(to bottom, transparent 0, black 2em);
}

#card-editor input,
#card-editor textarea,
#card-editor button, 
#card-editor select {
    font-size: 1rem;
}

#card-editor label {
    font-size: 1.25rem;
}