#deck-builder {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

#deck-builder .card-list-options .tab-header {
    border: solid 1px var(--color-clear);
    border-bottom: solid 1px var(--color-border);
}

#deck-builder .card-list-options .tab-header.active {
    border: solid 1px var(--color-border);
    border-bottom: solid 1px var(--color-clear);
    border-top-left-radius: calc( var(--flex-box-gutter) / 2 );
    border-top-right-radius: calc( var(--flex-box-gutter) / 2 );
}
#deck-builder .tab-body {
    border-left: solid 1px var(--color-border);
    border-right: solid 1px var(--color-border);
    border-bottom: solid 1px var(--color-border);

    min-height: calc( var(--flex-box-gutter) * 6 );
}