.clone-selection-modal {
    position: absolute;
    max-width: calc(100vw - calc(var(--flex-box-gutter) * 2) );
    max-height: calc(100vh - calc(var(--flex-box-gutter) * 2) );
    width: calc(var(--flex-box-gutter) * 25);
    height: calc(var(--flex-box-gutter) * 35);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    background-color: rgba(var(--rgb-bg), 90%);
}

.clone-selection-overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--rgb-bg), 80%);
}