.edit-icon .inline-icon {
    width: 2em;
    height: 2em;
    display: inline-block;
    background-size: contain;
    background-image: var(--icon-image);
}

.custom-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: contain;
    will-change: filter;
}

.edit-icon .uploaded-icon {
    /* width: 6em;
    height: 6em;
    position: relative; */
    box-shadow: 0 0 1em 0.5em rgba(var(--rgb-light), 0.8);
}

.icon-svg-content .scale-adjuster {
    position: absolute;
    top: calc(50% - calc(50% * calc( 1/ var(--scale))));
    bottom: calc(50% - calc(50% * calc( 1/ var(--scale))));
    left: calc(50% - calc(50% * calc( 1/ var(--scale))));
    right: calc(50% - calc(50% * calc( 1/ var(--scale))));
    transform: scale(var(--scale));
    will-change: transform, top, bottom, left, right;
}

.edit-icon .existing-icon-bg {
    background-color: var(--color-light);
    border-radius: .5em;
    margin-right: calc(var(--flex-box-gutter) * 0.5);
}

.edit-icon .existing-icon-preview {
    width: 4em;
    height: 4em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}