.side-bar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--rgb-dark), 0.0);

    transform: translate(-100%, 0);
    will-change: background-color;
    transition: background-color 0.5s;
}

.side-bar {
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 2;
    left: 0;
    transform: translate(-100%, 0);
    backdrop-filter: blur(22px);
    border-right: solid 1px var(--color-border);
    max-width: 90%;
    background-color: rgba(var(--rgb-light), 0.4);
    
    will-change: transform;
    transition: transform 0.5s;
    /* overflow-y: auto; */
}

.side-bar .menu-contents {
    overflow-y: auto;
}

.side-bar.open {
    transform: translate(0, 0);
}

.side-bar-backdrop.open {
    background-color: rgba(var(--rgb-light), 0.4);
    transform: translate(0, 0);
}

.side-bar .menu-icon {
    position: absolute;
    left: 100%;
    top: 0;
    width: 2em;
    height: 2em;
    font-size: calc(var(--banner-height, 2rem) * 0.5);

    transform: translate(0, 0);
    will-change: transform;
    transition: transform 0.5s;
}

.side-bar .menu-icon *,
.side-bar .menu-icon *::before,
.side-bar .menu-icon *::after
{
    color: var(--color-dark);
    will-change: color;
}
.side-bar .menu-icon:hover *,
.side-bar .menu-icon:hover *::before,
.side-bar .menu-icon:hover *::after,
.side-bar .menu-icon:focus *,
.side-bar .menu-icon:focus *::before,
.side-bar .menu-icon:focus *::after
{
    color: var(--color-link);
}

.side-bar.open .menu-icon {
    transform: translate(-100%, 0);
}

.side-bar .menu-option {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
}

.side-bar .menu-option:hover,
.side-bar .menu-option:focus
 {
    color: var(--color-link);
    text-decoration: underline;
}

.side-bar .select-theme {
    font-size: 1.5rem;
}