.side-bar {
    position: absolute;
    top: 0;
    height: 100vh;
    z-index: 2;
    left: 0;
    transform: translate(-100%, 0);
    background-color: var(--color-bg);
    border-right: solid 1px var(--color-border);
    
    will-change: transform;
    transition: transform 1s;
}

.side-bar.open {
    transform: translate(0, 0);
}

.side-bar .menu-icon {
    position: absolute;
    left: 100%;
    width: 2em;
    height: 2em;
    font-size: calc(var(--banner-height, 2rem) * 0.5);
    color: var(--color-primary);

    transform: translate(0, 0);
    will-change: transform;
    transition: transform 1s;
}
.side-bar.open .menu-icon {
    transform: translate(-100%, 0);
}