@font-face{
	font-family: BeaufortforLOLBold;
	src: url(BeaufortforLOLBold.ttf) format("opentype")
}

@font-face{
	font-family: UniversLTStd-UltraCn;
	src: url(UniversLTStd-UltraCn.otf) format("opentype")
}