* {
	box-sizing: border-box
}

body, html, #effect, #level-up-condition {
	/* font-family: BeaufortforLOLBold, serif; */
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #000;
	color: #FFF;
}

img, svg {
	max-width: 100%;
	height: auto;
}

.key-text {
	font-family: BeaufortforLOLBold, serif;
}

.fixed {
	position: fixed;
}

.clickable {
	cursor: pointer;
}

.hide {
	display: none;
}

.ghost {
	opacity: 0.5;
}

.invisable {
	opacity: 0;
}

.hide {
	display: none;
}

.grow {
	flex-grow: 1;
}

.relative { position: relative }
.absolute { position: absolute }